{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary border-0">
                    {% if not success %}

                    {% endif %}
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4 credentials-text-top">
                            <small>Sign UP</small>
                        </div>
                        {% if success %}
                            <div class="text-center">
                                <div class="alert alert-info" role="alert">
                                    Usuario Creado - Por favor <a href="/">login</a>.
                                </div>
                            </div>
                            <style>
                                .social-auth, .credentials-text, .credentials-text-top {
                                    display: none;
                                }
                            </style>
                        {% else %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <strong>{{ field.label }}</strong>: {{ field.errors }}<br>
                                        {% endif %}
                                    {% endfor %}
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <form role="form" method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                        </div>
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                        </div>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-badge"></i></span>
                                        </div>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
                                <div class="row my-4">
                                <div class="col-12">
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id="customCheckRegister" type="checkbox" name="{{ form.agree_terms.name }}" {% if form.agree_terms.value %}checked{% endif %}>
                                        <label class="custom-control-label" for="customCheckRegister">
                                            <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}