<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo." style="width: 180px; height: 180px;">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'dashboard' in segment %} active {% endif %}" href="{% url 'dashboard' %}">
              <i class="ni ni-tv-2 text-primary" style="font-size: 1.5rem; margin-right: 0.3rem;"></i>
              <span class="nav-link-text" style="font-size: 1.4rem;">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'perfil' %}">
              <i class="ni ni-single-02 text-yellow" style="font-size: 1.5rem; margin-right: 0.3rem;"></i>
              <span class="nav-link-text" style="font-size: 1.4rem;">Perfil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/progreso">
              <i class="ni ni-chart-bar-32 text-red" style="font-size: 1.5rem; margin-right: 0.3rem;"></i>
              <span class="nav-link-text" style="font-size: 1.4rem;">Progreso</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/nutricion">
              <i class="fas fa-medal" style="font-size: 1.5rem; margin-right: 0.3rem; color: #8FBC8F;"></i>
              <span class="nav-link-text" style="font-size: 1.4rem;">Control</span>
            </a>
          </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->


            <a class="nav-link active active-pro"

               href="/">
              <i class="ni ni-user-run text-dark" style="font-size: 1.5rem; margin-right: 0.3rem;"></i>
              <span class="nav-link-text" style="font-size: 1.4rem;">Logout</span>
            </a>


      </div>
    </div>
  </div>
</nav>